@import url('./fonts/fonts.css');

.root {
  /*background: gray;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.diagram {
  /*padding: 50px 0;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 80px rgba(0, 0, 0, .1);
  width: 309px;
  height: 469px;
  position: relative;
}

.diagram__loyalty-icon {
  margin: 13px 0 0;
  width: 56px;
  height: 46px;
  transform: translateX(9px);
}

.diagram__chart {
  position: absolute;
  top: 40px;
  transform: rotate(-105deg) translateY(10px);
}

.diagram__unit {
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
}

.diagram__unit_color_transparent {
  stroke: transparent;
  stroke-dasharray: 10 90;
  stroke-dashoffset: 0;
}

.diagram__unit_color_yellow {
  stroke: #fcd329;
  stroke-dasharray: 40 60;
  stroke-dashoffset: -10;
  animation: yellow-path 3s;
}

.diagram__unit_color_green {
  stroke: #70a84b;
  stroke-dasharray: 20 80;
  stroke-dashoffset: -50;
  animation: green-path 3s;
}

.diagram__unit_color_red {
  stroke: #ed5243;
  stroke-dasharray: 29 71;
  stroke-dashoffset: -70;
  animation: red-path 3s;
}

.diagram__text-container {
  font-family: 'Gotham';
  /*font-weight: 600;*/
  /*border: #ed5243 solid 1px;*/
  margin: 26px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram__percents {
  /*width: 72px;*/
  /*height: 37px;*/
  /*display: flex;*/
  color: #555;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 0 38px;
}

.diagram__digits-container {
  position: relative;
  width: 92px;
}

.diagram__integer {
  margin: 0;
  font-size: 48px;
  /*color: #555;*/
  letter-spacing: -2px;
}

.diagram__decimal {
  font-size: 24px;
  letter-spacing: 0;
  position: relative;
}

.diagram__decimal:after {
  content: '%';
  position: absolute;
  font-size: 16px;
  color: #999ba3;
  top: -18px;
  right: 1px;
}

.diagram__title {
  margin: 0;
  font-family: 'Arial';
  font-size: 21px;
  font-weight: bold;
  color: #5b5b5b;
  letter-spacing: 0px;
  transform: translate(9px, -2px);
}

.diagram__heading {
  margin: 3px 0 0;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: 600;
  color: #fbd229;
  transform: translateX(9px);
}

.diagram__text {
  margin: 0;
  text-align: center;
  font-family: 'Arial';
  width: 150px;
  font-size: 11px;
  color: #b7b2b2;
  transform: translateX(9px);
}

.diagram__text_size_large {
  /*font-size: 12px;*/
  line-height: 16px;
}

.diagram__rate {
  width: 44px;
  margin: 6px 0 0;
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  transform: translateX(9px);
}

.diagram__triangle,
.diagram__triangle:before,
.diagram__triangle:after {
  border-bottom: 1px solid #70a74b;
}

.diagram__triangle {
  position: relative;
  width: 0;
  height: 0;
  transform: translateY(-2px);
  border-style: solid;
  border-width: 0 8px 9px 8px;
  border-color: transparent transparent #70a74b transparent;
}

.diagram__dinamic-rating {
  margin: 0;
  font-family: 'Arial';
  color: #70a74b;
}

.diagram__list {
  margin: 80px 0 0;
  padding: 0;
  list-style-type: none;
  width: 228px;
  transform: translateX(9px);
}

.diagram__list-item {
  display: flex;
  justify-content: space-between;
  font-family: 'Arial';
  margin: 0 0 14px;
}

.diagram__list-item:last-child {
  margin: 0;
}

.diagram__col_left {
  display: flex;
  width: 127px;
  justify-content: space-between;
}

.diagram__parameter {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.diagram__list-item-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(3px);
}

.diagram__list-top-row {
  font-size: 12px;
  color: #555;
}

.diagram__list-btm-row {
  padding: 0 0 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.diagram__people-count {
  color: #9d9d9c;
  font-size: 12px;
}

.diagram__people-icon {
  margin: 0 0 0 4px;
  width: 12px;
  height: 12px;
  transform: translate(-1px, -1px);
}

.diagram__col_right {
  width: 88px;
  height: 32px;
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.diagram__big-line {
  height: 80%;
  transition: 3s;
}

.diagram__big-line_color_green {
  width: 0%;
  background: #70a74b;
  transition: 3s;
}

.diagram__big-line_color_yellow {
  width: 0%;
  background: #fbd229;
}

.diagram__big-line_color_red {
  width: 0%;
  background: #ed5243;
}

.diagram__small-line {
  height: 21%;
  transition: 3s;
}

.diagram__small-line_color_green {
  width: 0%;
  background: #b5d0a2;
}

.diagram__small-line_color_yellow {
  width: 0%;
  background: #fae691;
}

.diagram__small-line_color_red {
  width: 0%;
  background: #f3a69e;
}

.diagram__dinamic-percent {
  font-size: 12px;
  color: #5d5d5d;
  position: absolute;
  top: calc( 50% - 6px );
  right: 5px;
}

/* В качесте примера анимация реализована на keyframes */
/* Для анимации линий в статистике использован js */

@keyframes yellow-path {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: 40 60;
  }
}

@keyframes green-path {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: 20 80;
  }
}

@keyframes red-path {
  from {
    stroke-dasharray: 0 100;
  }

  to {
    stroke-dasharray: 29 71;
  }
}